@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin scroll {
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

// media queries
//1em = 16px;
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 31.25em) { //425px
        @content;
      }
  }
  @if $breakpoint == tab-small {
    @media only screen and (max-width: 37.5em) { 
        @content;
      }
  }
  @if $breakpoint == tab {
    @media only screen and (max-width: 48em) { 
        @content;
      }
  }
  @if $breakpoint == laptop-small {
    @media only screen and (max-width: 64em) { //1024px
      @content;
    }
  }
  @if $breakpoint == laptop-large {
    @media only screen and (max-width: 90rem) { //1440px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { //1800px
      @content;
    }
  }
}
