/* 
#F2ECE2
#F0894D
#FCBEA4
#FCE6BD
#111111
#9D9D9D
*/
$color-primary-light: #F2ECE2;
$color-primary-dark: #FCE6BD;

$color-secondary-light: #FCBEA4;
$color-secondary-dark: #F0894D;

$color-black:#111111;
$color-white: #ffffff;

$color-grey-light: #9D9D9D;