*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem=10px

  @include respond(laptop-large) {
    font-size: 56.25%; 
  }
  @include respond(laptop-small) {
    font-size: 43%;
  }
  @include respond(tab) {
    font-size: 37.5%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
}
